.card-img-overlay {
  padding-left: 0;
  padding-right: 0;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#footer {
  border-top: solid !important;
  border-color: #4aaaa5 !important;
  border-width: 8px !important;
}
